<div class="bs-docs-section">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="buttons">Listing events</h1></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p class="bs-component">
      <% @events.each do |event| %>
      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3 class="panel-title"><%= event.name %></h3>
	</div>
	<div class="panel-body">
	  <%= event.content %>
	</div>
	<div class="panel-footer" align="right">Created by <%= event.user_name %></div>
      </div>
      <% end %>
      </p>
    </div>
    <div class="col-lg-4">
      <p class="bs-component">
	<a class="twitter-timeline" href="https://twitter.com/search?q=%23daihyo" data-widget-id="441605820405391360">#daihyo に関するツイート</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </p>
    </div>
  </div>
</div>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start datetime</th>
      <th>End datetime</th>
      <th>Place</th>
      <th>Content</th>
      <th>Participation limit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	<td><%= event.user_id %></td>
        <td><%= event.name %></td>
        <td><%= event.start_datetime %></td>
        <td><%= event.end_datetime %></td>
        <td><%= event.place %></td>
        <td><%= event.content %></td>
        <td><%= event.participation_limit %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Event', new_event_path %>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">...</div>
